@model CRMSystem.ViewModels.CompanyVM

@{
    ViewBag.Title = "Show";
}

<h2>Show company</h2>

<a href="/Company/" class="btn btn-primary btn-xs">Back</a><br />
<label>Company ID</label>
<div class="well well-xs">@Model.Id</div>
<label>Company Name</label>
<div class="well well-xs">@Model.Name</div>
<label>Company Address</label>
<div class="well well-xs">@Model.Address</div>
<label>Company Number</label>
<div class="well well-xs">@Model.City</div>
<label>Company Number</label>
<div class="well well-xs">@Model.Zip</div>
<label>Company Number</label>
<div class="well well-xs">@Model.Phone</div>
<label>Contact persons for this company</label>
@foreach (var contact in Model.Contacts)
{
    <a href="/Contact/Show/@contact.Id"><div class="well well-xs">@contact.FullName</div></a>
}
