@model CRMSystem.ViewModels.ContactVM

@{
    ViewBag.Title = "Index";
}

<h2>All Contacts</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>CompanyId</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contactvm in Model.Contacts)
        {
            <tr>
                <td>@contactvm.Id</td>
                <td>@contactvm.FullName</td>
                <td>@contactvm.Address</td>
                <td>@contactvm.City</td>
                <td>@contactvm.Zip</td>
                <td>@contactvm.Phone</td>
                @*Put the company name later on (create e method returning a pomany and when we return the - company Company.name or smth like that*@
                <td>@contactvm.CompanyId</td>
                <td>
                    <a href="/Contact/Show/@contactvm.Id" class="btn btn-primary btn-xs">Show</a>
                    <a href="/Contact/Edit/@contactvm.Id" class="btn btn-warning btn-xs">Edit</a>
                    <a href="/Contact/Delete/@contactvm.Id" class="btn btn-danger btn-xs" onclick="return confirm('You are about to delete a contact. Are you sure you want to continue?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Contact/Create" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span> Create a new contact</a><br />


