@model CRMSystem.ViewModels.ContactVM

@{
    ViewBag.Title = "Show";
}

<h2>Show contact</h2>

<a href="/Contact/" class="btn btn-primary btn-xs">Back</a><br />
<label>Contact ID</label>
<div class="well well-xs">@Model.Id</div>
<label>Contact Name</label>
<div class="well well-xs">@Model.FullName</div>
<label>Contact Description</label>
<div class="well well-xs">@Model.Address</div>
<label>Contact Number</label>
<div class="well well-xs">@Model.City</div>
<label>Contact Number</label>
<div class="well well-xs">@Model.Zip</div>
<label>Contact Number</label>
<div class="well well-xs">@Model.Phone</div>
<label>Contact Company Name</label>
<div class="well well-xs">@Model.Company.Name</div>

